<header>
<!--  class="site-header" role="banner"
  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  
    {% if page_paths %}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
              <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
              <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

        <div class="trigger">
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
    {% endif %}
  </div>
  -->
			<div class="navbar section no-padding" role="navigation">
				<!-- Heading -->
				<div class="heading">
					<div class="container">
						<div class="row">
							<div class="col-sm-4 hidden-xs">
								<ul class="social">
									<li><a href="#" class="fa fa-instagram"></a></li>
									<li><a href="#" class="fa fa-facebook-square"></a></li>
									<li><a href="#" class="fa fa-twitter-square"></a></li>
								</ul>
							</div>
							<div class="col-sm-8">
								<div class="finder">
									<a href="#">
										<span class="fa fa-map-marker"></span> Find our beer
									</a>
								</div>
								<div class="cart">
									<a href="cart.html">
										<span class="fa fa-shopping-cart"></span> Empty
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="navbar-header">
						<a href="index.html" class="logo" title="Craft beer landing page">
							<img src="images/logo.png" alt="Craft Beer HTML Template">
						</a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar top-bar"></span>
							<span class="icon-bar middle-bar"></span>
							<span class="icon-bar bottom-bar"></span>
						</button>
					</div>  
					<div class="navbar-collapse collapse">
						<ul id="menu-primary" class="nav navbar-nav">
							<li class="active">
								<span>
									<a href="index.html">Home</a>
								</span>
							</li>
							<li>
								<span>
									<a href="shop.html">Shop</a>
								</span>
							</li>
							<li class="dropdown">
								<span>
									<a href="our-beer.html">Our beer</a>
								</span>
								<ul class="dropdown-menu">
									<li><a href="our-beer.html">Sugar Skull</a></li>
									<li><a href="our-beer.html">BraveHeart</a></li>
									<li><a href="our-beer.html">The Drunk Indian</a></li>
								</ul>
							</li>
							<li>
								<span>
									<a href="our-story.html">Our story</a>
								</span>
							</li>
							<li>
								<span>
									<a href="contact.html">Contact</a>
								</span>
							</li>
							<li class="dropdown">
								<span>
									<a href="blog.html">Blog</a>
								</span>
								<ul class="dropdown-menu">
									<li><a href="blog-single.html">Single post</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>

</header>
