			<div id="hero" class="carousel slide carousel-fade section no-padding" data-ride="carousel">
				
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#hero" data-slide-to="0" class="active"></li>
					<li data-target="#hero" data-slide-to="1"></li>
					<li data-target="#hero" data-slide-to="2"></li>
				</ol>
				
				<!-- Wrapper for slides -->
				<div class="carousel-inner">

					<div class="item active" style="background-image: url(http://placehold.it/1500x730)">
						<!-- Content -->
						<div class="container">
							<div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
								<div class="col-md-10 col-md-offset-1">
									<h1>Over one hundred flavours of</h1>
									<h2>Specially <br />crafted beer</h2>
									<a href="#" class="btn btn-default">
										<span>Explore</span>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="item" style="background-image: url(http://placehold.it/1500x730)">
						<!-- Content -->
						<div class="container">
							<div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
								<div class="col-md-10 col-md-offset-1">
									<h1>We use only the finest ingredients to create the</h1>
									<h2>The perfect <br />craft beer</h2>
									<a href="#" class="btn btn-default">
										<span>Explore</span>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="item" style="background-image: url(http://placehold.it/1500x730)">
						<!-- Content -->
						<div class="container">
							<div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
								<div class="col-md-10 col-md-offset-1">
									<h1>The perfect template to compliment</h1>
									<h2>Your brewery</h2>
									<a href="#" class="btn btn-default">
										<span>Buy template</span>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>