<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% include header.html %}
        {% include hero.html %}
        {{ content }}
      </div>
    </main>

    {% include footer.html %}


    <script src="assets/js/jquery-2.2.4.min.js"></script>
		<script src="assets/js/jquery-ui.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/headhesive.min.js"></script>
		<script src="assets/js/matchHeight.min.js"></script>
		<script src="assets/js/modernizr.custom.js"></script>
		<script src="assets/js/waypoints.min.js"></script>
		<script src="assets/js/counterup.js"></script>
		<script src="assets/js/scrollme.min.js"></script>
		<script src="assets/js/fakeLoader.min.js"></script>
		<script src="assets/js/owl.carousel.js"></script>
		<script src="assets/js/owl.autoplay.js"></script>
		<script src="https://use.fontawesome.com/4dfd2d448a.js"></script>
		<script src="assets/js/custom.js"></script>
  </body>

</html>
